.gallery{
    height: 150px;
    width: 150px;
    margin: 2px;
   
}
.modal-header{
   display:block;
}

.example-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
}