<div style="text-align:center">
  <h1>
    Bienvenido a la Galería de Imágenes de KiuSystem
  </h1>

</div>
<div class="gallery" *ngFor="let Image of data">
  <a href="#" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <!-- Button trigger modal -->
    <img [src]="Image.thumbnailUrl" width="150" height="150">
  </a>
  <!-- Modal -->
  <div class="modal fade div-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Image.title}}</h5>
          <h5 class="modal-url" id="exampleModalLabel">{{Image.url}}</h5>
        </div>
        <div class="modal-body">
          <div class="row my-auto">
            <a class="portfolio-link" href="#exampleModal" data-bs-toggle="modal">
              <img id="size" [src]="Image.url" alt="">
            </a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
