body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(103, 135, 233, 1) 0%,
    rgba(155, 180, 252, 1) 33%,
    rgba(119, 151, 246, 1) 68%
  );
}
div.gallery {
  margin: 10px;
  border: none;
  float: left;
  width: 200px;
  height: 300px;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 5px;
  font-weight: 300;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#size {
  height: auto;
  width: inherit;
}
.modal-header {
  text-align: center;
}
